{{define "specific"}}{{$cs := .CoinShortcut}}{{$assets := .Assets}}{{$data := .}}
<h1>Assets</h1>
<div class="alert alert-data ellipsis">
    <span class="data">{{$assets.Filter}}</span>
</div>
<h3>{{$assets.NumAssets}} Results</h3>
<div class="data-div row">
    <div class="col-lg-10">
        <table class="table data-table">
            <tbody>
                <tr>
                    <th>Asset</th>
                    <th>Address</th>
                    <th>Transactions</th>
                    <th>Contract</th>
                    <th>Total Supply</th>
                    <th>Description</th>
                </tr>
                {{- range $assetDetails := $assets.AssetDetails -}}{{- if $assetDetails -}}
                <tr>
                    <td class="data">{{$assetDetails.Symbol}} (<a href="/asset/{{$assetDetails.AssetGuid}}">{{$assetDetails.AssetGuid}}</a>)</td>
                    <td class="data ellipsis">{{$assetDetails.WitnessAddress}}</td>
                    <td class="data">{{$assetDetails.Txs}}</td>
                    <td class="data ellipsis"><a href="https://etherscan.io/address/{{$assetDetails.Contract}}">{{$assetDetails.Contract}}</a></td>
                    <td class="data">{{formatAmountWithDecimals $assetDetails.TotalSupply $assetDetails.Decimals}} {{$assetDetails.Symbol}}</td>
                    <td class="data ellipsis">{{- if $assetDetails.PubData.description}}{{$assetDetails.PubData.description}}{{else}}{{- end -}}</td>
                </tr>
                {{- end -}}{{- end -}}
            </tbody>
        </table>
    </div>
</div>
<nav>{{template "paging" $data }}</nav>
{{end}}